* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--principal-font);
    background-color: var(--bg-principal);
    height: 100%;
    cursor: default;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

.container-app{
    display: flex;
}